<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-danger btn-sm change_order_{{ item.id }} minus">
    -
  </button>
  <input type="text" class="btn btn-default btn-sm order_index_{{ item.id }}" style="width: 80px" value="{{ item.orderIndex }}">
  <button type="button" class="btn btn-success btn-sm change_order_{{ item.id }} plus">
    +
  </button>
</div>

<script>
  (function(){
    let updateOrderIndex = function (e) {
      let $this = $(this);
      let $input = $('.order_index_{{ item.id }}'),
        val = $input.val();

      if($input.prop('loading')){
        return
      }

      $input.prop('loading', true);

      if($this.hasClass('plus')) {
        ++val;
      } else if ($this.hasClass('minus')){
        --val
      }

      if (val < 0) {
        val = 0;
      }

      $input.val(val);

      $.ajax({
        'url': `/admin/helper/change-order/{{ field_options.type_options.entity_name }}/{{ item.id }}/${val}`,
        'method': 'PUT',
        data: {
          _token: '{{ csrf_token('app_token') }}'
        },
        success: function (data) {
          $input.prop('loading', false);
          if(data['status']){
            location.reload();
          } else {
            alert(data['message']);
          }
        },
        error: function (er) {
          $input.prop('loading', false);
        }
      })

    };

    $('.change_order_{{ item.id }}').on('click', updateOrderIndex);
    $('.order_index_{{ item.id }}').on('keyup', updateOrderIndex);
  })();
</script>
