<template>
  <div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Status</th>
        <th>Username</th>
        <th>Deadline</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="todo in toDos" :key="todo.id" @click="selectToDoOne(todo)">
        <th scope="row">{{todo.id}}</th>
        <td>{{todo.title}}</td>
        <td>{{todo.status.title}}</td>
        <td>{{todo.user.username}}</td>
        <td>{{todo.deadline}}</td>
      </tr>
      </tbody>
    </table>

    <div v-if="selectTodo">
      <ul class="list-group">
        <li class="list-group-item">id: {{selectTodo.id}}</li>
        <li class="list-group-item">Title: {{selectTodo.title}}</li>
        <li class="list-group-item">Username: {{selectTodo.user.username}}</li>
        <li class="list-group-item">Status: {{selectTodo.status.title}}<br>
          change:
          <select @change="updateStatus()" v-model="selectStatus">
            <option
                v-for="status in statusList"
                :value="status.id"
                :key="status.id"
                :selected="status.id === selectTodo.status.id"
            >{{status.title}}</option>
          </select>
        </li>
        <li class="list-group-item">Deadline: {{selectTodo.deadline}}</li>
      </ul>
      description: <br>
      <p>
        {{selectTodo.description}}
      </p>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'to-do-list',
    data() {
      return {
        selectTodo: '',
        selectStatus: ''
      }
    },
    props: ['toDos', 'statusList'],
    methods: {
      selectToDoOne: function (toDo) {
        this.selectTodo = toDo
      },
      updateStatus: function () {
        axios.put(`http://test.local.com/api/to-do/${this.selectTodo.id}/status/${this.selectStatus}`)
          .then(res => {
            this.$parent.loadData();
            this.selectTodo = res.data;
          })
          .catch(() => {
            alert('Error');
          })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  table tr{
    cursor: pointer;
  }
</style>
