<template>
  <div id="app">
    <div class="container">
      <h1 class="text-center">ToDo List</h1>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <to-do-list :toDos="toDos" :statusList="statusList"></to-do-list>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import ToDoList from './components/ToDoList.vue'
import axios from 'axios';

export default {
  name: 'app',
  data() {
    return {
      toDos: {},
      statusList: [],
    }
  },
  components: {
    ToDoList
  },
  methods: {
    loadData() {
      axios.get('http://test.local.com/api/to-do').then(res => {
        this.toDos = res.data;
      });

      axios.get('http://test.local.com/api/status').then(res => {
        this.statusList = res.data;
      });
    }
  },
  mounted() {
    this.loadData();
  }
}
</script>

